# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=root**
DB_NAME=elfulk

# TypeORM 
TYPEORM_SYNC=true

# JWT 
JWT_SECRET=10960c49127e06a32d2c91d0f954ab04f5cd3933812f859bb74e01802f25dc8b

# Super Admin seed 
SUPER_ADMIN_EMAIL=admin@gmail.com
SUPER_ADMIN_PASSWORD=password123
SUPER_ADMIN_FIRST_NAME=Super
SUPER_ADMIN_LAST_NAME=Admin
